body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.header {
  background-color: rgb( 39 , 38 , 64 );
  box-shadow: 0 15px 10px black;
  box-sizing: border-box;
  color: white;
  flex-direction: column;
  height: 127px;
  justify-content: space-between;
  padding: 0 10%;
  position: fixed;
  width: 100%;
}

.header-title {
  align-items: center;
  flex-basis: 100%;
  flex-direction: column;
  font-family: Alata, sans-serif;
  padding: 10px 0;
}

.title-container {
  align-items: baseline;
  flex-basis: 100%;
}

.title-name {
  margin: 0;
  padding-left: 5px;
}

.subtitle-container {
  align-items: flex-end;
  flex-basis: 100%;
}

.title-work {
  font-size: 1.2em;
  margin: 0;
  padding-left: 5px;
}

.menu {
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
}

.menu-list {
  display: flex;
  flex-basis: 160px;
  font-weight: 600;
  justify-content: space-between;
  padding: 0;
}

.menu-item {
  font-size: 1.1em;
  list-style: none;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.selected {
  border-bottom: 2px solid rgba( 255 , 255 , 255 , 0.7 );
}

.social {
  display: none;
}

.gradient {
  background-color: rgb( 0 , 100 , 102 );
  background-image: linear-gradient( rgb( 0 , 100 , 102 ) , rgb( 27 , 58 , 75 ) );
  padding-bottom: 50px;
}

.content {
  color: white;
  padding-top: 150px;
}

.bg-img {
  background-color: black;
}

.content-img {
  width: 100%;
}

.content-title , .content-pretext , .content-paragraph , .content-subtitle {
  margin: 0;
  padding: 30px 10%;
}

.content-title {
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
}

.content-subtitle {
  font-size: 1.3em;
  margin: 0;
  padding: 30px 10% 0;
}

.content-pretext {
  color: rgba( 255 , 255 , 255 , 0.7 );
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
}

.content-paragraph {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0;
  padding: 1.1em 10%;
}

.content-list {
  font-size: 1.1em;
  margin: 0;
  padding: 30px 15%;
}

.content-list-item {
  margin: 0;
  padding: 1em;
}

.footer {
  align-items: center;
  background-color: rgb( 39 , 38 , 64 );
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.social-footer {
  align-items: center;
  width: 100%;
}

.social-footer-list {
  justify-content: space-evenly;
  padding: 0;
}

.social-item {
  list-style: none;
}

.social-img {
  width: 30px;
}

.reference {
  color: rgba( 108 , 117 , 125 , 0.3 );
  font-size: 0.3em;
  margin-bottom: 5px;
}

.reference a {
  color: rgba( 108 , 117 , 125 , 0.3 );
  text-decoration: none;
}

@media screen and ( min-width : 700px ) {

  .header {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  .header-title {
    justify-content: center;
    flex-basis: 50%;
  }

  .title-container {
    flex-basis: 30%;
  }

  .subtitle-container {
    flex-basis: 30%;
  }

  .menu {
    font-size: 0.9em;
    flex-basis: 30%;
  }

  .menu-list {
    flex-basis: 200px;
  }

  .content-title {
    font-size: 2.7em;
  }

  .link {
    color: rgb( 34 , 4 , 102 );
    text-decoration: none;
  }

}

@media screen and ( min-width : 1024px ) {

  .header {
    height: 100px;
  }

  .header-title {
    align-items: flex-start;
    padding: 20px;
  }

  .social {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-basis: 30%;
  }

  .social-list {
    justify-content: space-evenly;
    padding: 0;
    width: 80%;
  }

  .content-title {
    font-size: 2.7em;
  }

}

@media screen and ( min-width : 1366px ) {

  body {
    margin: 0 auto;
    max-width: 1366px;
  }

  header {
    margin: 0 auto;
    max-width: 1366px;
  }

  .content-pretext {
    font-size: 1.5em;
  }

  .content-paragraph , .content-list {
    font-size: 1.4em;
  }

}
