body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.header {
  background-color: rgb( 39 , 38 , 64 );
  box-shadow: 0 15px 10px black;
  box-sizing: border-box;
  color: white;
  flex-direction: column;
  height: 127px;
  justify-content: space-between;
  padding: 0 10%;
  position: fixed;
  width: 100%;
}

.header-title {
  align-items: center;
  flex-basis: 100%;
  flex-direction: column;
  font-family: Alata, sans-serif;
  padding: 10px 0;
}

.title-container {
  align-items: baseline;
  flex-basis: 100%;
}

.title-name {
  margin: 0;
  padding-left: 5px;
}

.subtitle-container {
  align-items: flex-end;
  flex-basis: 100%;
}

.title-work {
  font-size: 1.2em;
  margin: 0;
  padding-left: 5px;
}

.menu {
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
}

.menu-list {
  display: flex;
  flex-basis: 160px;
  font-weight: 600;
  justify-content: space-between;
  padding: 0;
}

.menu-item {
  list-style: none;
}

.menu-link {
  color: white;
  font-size: 1.1em;
  text-decoration: none;
}

.selected {
  border-bottom: 2px solid rgba( 255 , 255 , 255 , 0.7 );
}

.social {
  display: none;
}

.gradient {
  background-color: rgb( 0 , 100 , 102 );
  background-image: linear-gradient( rgb( 0 , 100 , 102 ) , rgb( 27 , 58 , 75 ) );
}

.about {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 150px 10% 30px;
}

.about-img {
  border: 6px solid rgb( 39 , 38 , 64 );
  border-radius: 50%;
  max-width: 200px;
  width: 50%;
}

.about-title {
  border-bottom: 3px solid rgba( 255 , 255 , 255 , 0.7 );
  margin-top: 5px;
  padding-bottom: 10px;
}

.about-text {
  background-color: rgba( 39 , 38 , 64 , 0.95 );
  border-radius: 10px;
  color: white;
  font-family: Alata, sans-serif;
  margin-top: 20px;
  padding: 5%;
  text-align: center;
  width: 100%;
}

#link-trybe {
  color: rgb( 0 , 100 , 102 );
  text-decoration: none;
}

.projects {
  align-items: center;
  box-sizing: border-box;
  flex-flow: column nowrap;
  padding: 5%;
  width: 100%;
}

.projects-title {
  color: white;
  border-bottom: 3px solid rgba( 255 , 255 , 255 , 0.7 );
  font-family: Alata, sans-serif;
  margin-bottom: 50px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.card {
  justify-content: space-between;
  background-color: rgb( 233 , 236 , 239 );
  border-radius: 15px;
  flex-direction: column;
  font-family: Alata, sans-serif;
  height: 350px;
  margin: 0 15px 50px;
  width: 288px;
}

.card-picture {
  background-size: cover;
  border-radius: 15px;
  height: 160px;
}

.todo-list {
  background-image: url( '../imgs/projects/todo-list.png' );
}

.produtividade {
  background-image: url( '../imgs/projects/produtividade_baixa.jpg' );
}

.card-title {
  margin: 0;
  text-align: center;
  padding: 10px;
}

.card-link {
  color: rgb( 0 , 100 , 102 );
  text-decoration: none;
}

.card-description {
  font-size: 0.9em;
  margin: 0;
  padding: 5px 15px 20px;
  text-align: center;
}

.description {
  flex-direction: column;
  height: 190px;
  justify-content: center;
}

.articles {
  align-items: center;
  box-sizing: border-box;
  flex-flow: column nowrap;
  padding: 5%;
  width: 100%;
}

.articles-title {
  color: white;
  border-bottom: 3px solid rgba( 255 , 255 , 255 , 0.7 );
  font-family: Alata, sans-serif;
  margin-bottom: 50px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: rgb( 39 , 38 , 64 );
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.social-footer {
  align-items: center;
  width: 100%;
}

.social-footer-list {
  justify-content: space-evenly;
  padding: 0;
}

.social-item {
  list-style: none;
}

.social-img {
  width: 30px;
}

.reference {
  color: rgba( 108 , 117 , 125 , 0.3 );
  font-size: 0.3em;
  margin-bottom: 5px;
}

.reference a {
  color: rgba( 108 , 117 , 125 , 0.3 );
  text-decoration: none;
}

@media screen and ( min-width : 700px ) {

  .header {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  .header-title {
    justify-content: center;
    flex-basis: 50%;
  }

  .title-container {
    flex-basis: 30%;
  }

  .subtitle-container {
    flex-basis: 30%;
  }

  .menu {
    font-size: 0.9em;
    flex-basis: 30%;
  }

  .menu-list {
    flex-basis: 200px;
  }

  .projects , .articles {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media screen and ( min-width : 1024px ) {

  .header {
    height: 100px;
  }

  .header-title {
    align-items: flex-start;
    padding: 20px;
  }

  .social {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-basis: 30%;
  }

  .social-list {
    justify-content: space-evenly;
    padding: 0;
    width: 80%;
  }

  .about {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 180px 5% 30px;
  }

  .about-text {
    margin-left: 60px;
    padding: 2em;
  }

}
