.apresentacao {
    background-color: rgb(0, 100, 102);
    height: 80vh;
    display: flex;
    margin: 50px auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 15px 10px black;
}

.apresentacao-imagem {
    height: 50%;
    border: 7px solid rgb(39, 38, 64);
    border-radius: 50%;
    box-shadow: 15px 20px 10px rgb(39, 38, 64);
}

.apresentacao-texto {
    width: 35%;
    padding: 20px 40px;
    background-color: rgba(217, 217, 217);
    border-radius: 5px;
    color: rgb(39, 38, 64);
    text-align: justify;
    box-shadow: 15px 20px 10px rgb(39, 38, 64);
}

.apresentacao-titulo {
    margin-bottom: 1em;
}

.apresentacao-texto p {
    margin-bottom: 0.5em;
}

#link-trybe {
    text-decoration: none;
    color: rgb(53, 53, 53);
}